<div class="container">
  <h1>Angular Testing</h1>
  <p></p>
  <nav>
    <ul>
      <li>
        <a data-testid="home-link" routerLink="/" >Home</a>
      </li>
      <li>
        <a data-testid="register-link" routerLink="/register">Register</a>
      </li>
      <li>
        <a data-testid="products-link" routerLink="/products" highlight="pink">Products</a>
      </li>
      <li>
        <a data-testid="pico-preview-link" routerLink="/pico-preview">Pico Preview</a>
      </li>
      <li>
        <a data-testid="people-link" routerLink="/people">People</a>
      </li>
      <li>
        <a data-testid="others-link" routerLink="/others">Others</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>