<div class="container">
  <h1>Angular Testing</h1>
  <p></p>
  <nav>
    <ul>
      <li>
        <a routerLink="/" >Home</a>
      </li>
      <li>
        <a routerLink="/register">Register</a>
      </li>
      <li>
        <a routerLink="/products" highlight="pink">Products</a>
      </li>
      <li>
        <a routerLink="/pico-preview">Pico Preview</a>
      </li>
      <li>
        <a routerLink="/people">People</a>
      </li>
      <li>
        <a routerLink="/others">Others</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>